<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static %}
    <link rel="stylesheet" href="{% static 'inventory/product.css' %}"/>
    <title>Document</title>
</head>
<body>
    <table>
        <h1>Product list</h1>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Product Details</th>
                <th>Edit product</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td> <a href="{% url 'product_details_view' id=product.id %}">product details</a> </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>