<body>
    <h3> order list </h3>
    <table>
        <th>
         <td>Image</td>
         <td> Name </td>  
         <td> Description </td>
         <td> Price </td> 
         <td>View</td>
        </th>
        {% for order in order %}
        <tr>
        <td><img src="{{order.image.url}}"/></td>   
        <td>{{order.product}}</td>  
        <td>{{order.Name}}</td>
        <td>{{order.price}}</td> 
        <td>{{date_created}}</td>
        <td>{{date_updated}}</td> 
        <td>  <a href="{% url 'order_details' id=order.id %}"> view order</a></td>
        </tr>
        {% endfor%}
    </table>
</body>